/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
} */

/* .page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 179, 37);
} */

/* .page-header img {
  width: 150px;
} */

/* .page-header h1 {
  font-size: 4rem;
} */

/* .page-header nav {
  width: 30%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
} */

/* .page-header nav button {
  font-size: 2rem;
  font-weight: bold;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
} */

/* .img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.img-div h2 {
  color: rgb(255, 179, 37);
  font-size: 2rem;
} */

/* .text-div {
  color: rgb(255, 179, 37);
  background-color: black;
  padding: 1rem;
}

.text-div h2 {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

.text-div p {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
} */

.hidden {
  display: none;
}
